.custom-radio{
    white-space: nowrap;
    display: inline-block;
}

.inputInlineBlock{
    display: inline-block;
}

body{
    font-size: 15px;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(left, #1b9ad7,#88388f);
}
form label{
    font-size: 14px;
}
.wrapper{
	text-align: center;
}
#textboxDiv input{
	margin-bottom: 1.5vh;
}
#textboxDiv2 input{
	margin-bottom: 1.5vh;
}
.addBtnContainer, .removeBtnContainer{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.addIpBtn{
    width: 100%;
	color: white;
	background-color: #88388f;
    border: none;
	border-radius: 1.5rem;
    padding: 4%;
	cursor: pointer;
}
.removeIpBtn{
    width: 100%;
	color: white;
	background-color: #88388f;
    border: none;
	border-radius: 1.5rem;
    padding: 4%;
	cursor: pointer;
}
.registBtnContainer{
    width: 100%;
}
.btnRegister{
    /* margin-top: 0vh; */
    border: none;
    width: 100%;
    border-radius: 1.5rem;
    padding: 4%;
    background: #0062cc;
    color: #fff;
    /* font-weight: 600; */
    /* width: 50%; */
    cursor: pointer;
}
.row{
	width: 100%;
	height: 100%;
}
.welcome-text{
	text-align: center;
    margin-top: 8%;
    margin-bottom: 0vh;
    color: white;
}
.register-left{
	margin-top: 7vh;
    text-align: center;
    color: #fff;
}
.register-left p{
    font-weight: lighter;
}
.policy-content{
    text-align: left;
    padding: 30px;
}
#ticket-container{
    padding-bottom: 10px;
}
.register-center{
    background: #f8f9fa;
    width: 100%;
    padding: 3% 7% 0% 7%;
    margin-top: 10px;
    margin-bottom: 0px;
    height: auto;
    border-radius : 30% 0%;
}
#myTabContent{
    padding-top: 5%;
}
.custom-textbox, .custom-radio{
    padding-bottom: 10px;
}
.register .register-form{
    padding: 8% 8% 0% 11%;
    padding-left: 8vw;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 30vh;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 15vh;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading {
    text-align: center;
    padding: -10px;
    margin-bottom: -8%;
    color: #495057;
}
.tempBtn{
	text-align: center;
}
.nav-loginTabs a{
	border: none;
    padding: 1vh;
    width: 65vw;
    padding: 0px 6vw 0 6vw;
   /* padding: 0px 12.5vw 0 12.5vw;*/
    color: #88388f;
    text-decoration: none;
}
.nav-loginTabs a:hover{
	border-bottom: 1px solid black;
}
.nav-tabs .nav-item{
	margin: 0;
}
.modal-content{
	align-items: center;
	margin-top: 42%;
}
.alert-danger {
    color: #721c24;
    background: none;
    border: none;
    padding-left: 10vw;
}

@media only screen and (min-width: 768px) {
	.register{
	left: 0px;
	right: 0px;
	height: 100%;
   	width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.row{
		width: 100vw;
	}
	.btn-primary{
		float: right;
		margin-bottom: 11vh;
	}
	.register{
		left: 0px;
		right: 0px;
		height: 100%;
	   	width: 100%;
	}
	#already-register{
		text-align: right;
		margin-top: 2vh;
	}
	.register-heading {
	    text-align: center;
	    margin-top: 7%;
	    margin-bottom: -8%;
	    color: #495057;
	    padding: 3vh 0vh 0vh 6vh;
	}
	.register-center{
	    margin-top : -10vh;
	    min-height: 100vh;
	}
	.nav-loginTabs a{
	border: none;
    padding: 1vh;
    width: 65vw;
    padding: 0px 6vw 0 6vw;
    color: #88388f;
    text-decoration: none;
	}
}

@media only screen and (max-width: 472px){
	body{
		width: 100vw;
		height: 100%;
		background: -webkit-linear-gradient(left, #1b9ad7,#88388f);
	}
	.register-right {
    	right: -2vw;
	}
}