body{
    font-family: Arial, Helvetica, sans-serif;
}

.table-form-number{
    width: 900px;
}

.form-number{
    text-align: right;
    font-size: 10pt;
}

.table-register-form{
    width: 900px;
}

.table-register-form, .table-register-form th, .table-register-form tr{
    border: 1px solid black;
    border-collapse: collapse;
}

.table-register-form tr:nth-child(1){
    font-size: 24pt;
    height: 75px;
}

.table-register-form .table-header{
    color: white;
    background-color: black;
}